body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.margin{
 padding-left: 10px;
}
.bg-color{
  background-color: whitesmoke;
}

/* // ---------------ClearFix-------------------// */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* medium screen ipads */
@media only screen and (max-width: 559px) {


  .card.user-card {
    width: 96%;
    float: left;
    height: 24rem;
    margin: 0.5rem 2%;
  }

}

/* medium screen ipads */
@media only screen and (min-width: 560px) {

  .card.user-card {
    width: 46%;
    float: left;
    height: 24rem;
    margin: 0.5rem 2%;
  }

}

/* This is default */
@media only screen and (min-width: 1140px) {
  .card.user-card {
    width: 21%;
    float: left;
    height: 24rem;
    margin: 0.5rem 2%;
  }

}
